<img src="/assets/img/burger.png" alt="burger" id="burgerLogo">
<h2 class="text-center">Eat-Da-Burger!</h2>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h3>Fresh Burgers!</h3>
            <ul class="list-group">
                {{#each burgers}}
                    {{#unless devoured}}
                        <li class="list-group-item">{{id}}. {{burger_name}} <button class="btn btn-sm btn-danger" data-burger="{{id}}">Devour</button></li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <h3>Devoured Burgers</h3>
            <ul class="list-group">
                {{#each burgers}}
                    {{#if devoured}}
                        <li class="list-group-item">{{id}}. {{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholer="New Burger" aria-label="New Burger" id="newBurger">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="addBurger">Make New Burger</button>
                </div>
            </div>
        </div>
    </div>
</div>